body {
  - background-color: red;
  +background-color: #fafafa;
  +font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

main {
  max-width: 1000px;
  animation: 0.5s potato linear;
}

@keyframes potato{
from{
    opacity: 0;
    transform: translateY(10px);
}
to{
  opacity: 1;
  transform: none;

}
}
